@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#rodape{
    background-color: #00252e;
}

#copyright{
    background-color: #00252e;
    font-size: xx-small;
}

.linha1{
    padding-top: 50px;
    margin-right: 90px;
    margin-bottom: 30px;
    display: flex;
}

.linha2{
    margin-top: 40px;
    display: flex;
}

.linha3{
    margin-top: 100px;
}

.bi{
    margin-left: 20px;
}

.row{
    margin-top: 150px;
}

.texto_icon{
    margin-left: 15px;
    width: 200vw;
    height: 5px;
}

#logo{
    width: 250px;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    background-image: url("./images/bg-hero-desktop.svg");
}

#cabecalho {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 200px;
}

button {
    width: 150px;
    color: rgb(18, 0, 0);
    background-color: rgb(252, 250, 250);
    padding: 15px 50px 10px 15px;
    border-radius: 50px;
    text-align: center;
}

#mockup {
    display: flex;
    margin-left: 975px;
    padding-bottom: 50px;
    padding-top: 50px;
}

#imagemM {
    width: 450px;
    height: 350px;
}

#imagem1{
    width: 350px;
    height: 250px;
}

main{
    background: white;
}

/* estilos jair */
.but{
    background-color: hotpink;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 20px;

}
.hea{
   padding: 10%;
   margin: auto;

}
p{
    font-size: 20px;
    margin-bottom: 30px;

}