.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

#cabecalho{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

button{
    width: 150px;
    color: rgb(18, 0, 0);
    background-color: rgb(255, 253, 253);
    border-radius: 50px;
    text-align: center;
}
img{
    width: 200px;
}